Initialization and Setup

In [1]:
!pip install -q awswrangler

import awswrangler as wr
import pandas as pd
import boto3
import pytz
from datetime import datetime
from sagemaker import get_execution_role

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
ERROR: redshift-connector 2.0.878 has requirement pytz<2021.9,>=2020.1, but you'll have pytz 2019.3 which is incompatible.

Get Sagemaker's Role

In [2]:
role = get_execution_role()
print(role)

Couldn't call 'get_role' to get Role ARN from role name AmazonSageMaker-ExecutionRole-20210503T205912 to get Role path.
Assuming role was created in SageMaker AWS console, as the name contains `AmazonSageMaker-ExecutionRole`. Defaulting to Role ARN with service-role in path. If this Role ARN is incorrect, please add IAM read permissions to your role or supply the Role Arn directly.

arn:aws:iam::506926764659:role/service-role/AmazonSageMaker-ExecutionRole-20210503T205912

# S3 Parameters

In [3]:
# Bucket (origin)
bucket = 'from-public-data/carrier-perf/transformed'
# bucket = 'from-public-data/carrier-perf/transformed/airOT2011'
bucket_2007 = 'from-public-data/carrier-perf/transformed/airOT2007'
bucket_2011 = 'from-public-data/carrier-perf/transformed/airOT2011'

# Files (origin)
file_01 = 'airOT201101.csv'
file_02 = 'airOT201102.csv'
file_03 = 'airOT201103.csv'
file_04 = 'airOT201104.csv'
file_05 = 'airOT201105.csv'
file_06 = 'airOT201106.csv'
file_07 = 'airOT201107.csv'
file_08 = 'airOT201108.csv'
file_09 = 'airOT201109.csv'
file_10 = 'airOT201110.csv'
file_11 = 'airOT201111.csv'
file_12 = 'airOT201112.csv'
file_2011 = 'airOT2011all.csv'

# Paths to files (origin)
path_01 = 's3://{}/{}'.format(bucket, file_01)
path_02 = 's3://{}/{}'.format(bucket, file_02)
path_03 = 's3://{}/{}'.format(bucket, file_03)
path_04 = 's3://{}/{}'.format(bucket, file_04)
path_05 = 's3://{}/{}'.format(bucket, file_05)
path_06 = 's3://{}/{}'.format(bucket, file_06)
path_07 = 's3://{}/{}'.format(bucket, file_07)
path_08 = 's3://{}/{}'.format(bucket, file_08)
path_09 = 's3://{}/{}'.format(bucket, file_09)
path_10 = 's3://{}/{}'.format(bucket, file_10)
path_11 = 's3://{}/{}'.format(bucket, file_11)
path_12 = 's3://{}/{}'.format(bucket, file_12)
path_2011 = 's3://{}/{}'.format(bucket, file_2011)
path_gen = 's3://{}'.format(bucket)
path_gen_2007 = 's3://{}'.format(bucket_2007)
path_gen_2011 = 's3://{}'.format(bucket_2011)

path_2011

's3://from-public-data/carrier-perf/transformed/airOT2011all.csv'

# Reading a single CSV file

### a single month

In [4]:
df = wr.s3.read_csv([path_2011])
df

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,AIR_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 44
0,2011,1,1,6,2011-01-01,AA,N329AA,1,12478,JFK,...,334.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,1,2,7,2011-01-02,AA,N339AA,1,12478,JFK,...,362.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,1,3,1,2011-01-03,AA,N332AA,1,12478,JFK,...,359.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,1,4,2,2011-01-04,AA,N335AA,1,12478,JFK,...,341.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,1,5,3,2011-01-05,AA,N335AA,1,12478,JFK,...,340.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6085276,2011,12,29,4,2011-12-29,YV,N7291Z,2783,14107,PHX,...,NaN,1.0,598.0,3,NaN,NaN,NaN,NaN,NaN,NaN
6085277,2011,12,30,5,2011-12-30,YV,N903FJ,2697,14107,PHX,...,NaN,1.0,355.0,2,NaN,NaN,NaN,NaN,NaN,NaN
6085278,2011,12,31,6,2011-12-31,YV,N934FJ,2697,14107,PHX,...,NaN,1.0,355.0,2,NaN,NaN,NaN,NaN,NaN,NaN
6085279,2011,12,31,6,2011-12-31,YV,N37178,2749,14107,PHX,...,NaN,1.0,455.0,2,NaN,NaN,NaN,NaN,NaN,NaN
6085280,2011,12,31,6,2011-12-31,YV,N7291Z,2793,14107,PHX,...,NaN,1.0,455.0,2,NaN,NaN,NaN,NaN,NaN,NaN

### a single year

In [ ]:
bucket = 'from-public-data/carrier-perf/transformed'
file = 'airOT2011all.csv'
path = 's3://{}/{}'.format(bucket, file)

df_blah = wr.s3.read_csv([path])
df_blah

# Reading multiple CSV files

In [ ]:
# df_combo = wr.s3.read_csv([path_01, path_02, path_03, path_04, path_05, path_06, path_07, path_08, path_09, path_10, path_11, path_12])
# df_combo

df_2007 = wr.s3.read_csv(path_gen_2007)
df_2011 = wr.s3.read_csv(path_gen_2011)
df_combo = pd.concat([df_2007, df_2011])

df_combo = wr.s3.read_csv(path_gen)

# Export CSV back to S3

In [ ]:
file_all = 'airOT2007all.csv'
path_all = 's3://{}/{}'.format(bucket, file_all)

wr.s3.to_csv(df_combo, path_all, index=False)

In [ ]:
!python --version