Libraries & Parameters

In [1]:
!pip install -q awswrangler

import awswrangler as wr
import pandas as pd
import boto3
import pytz
from datetime import datetime
from sagemaker import get_execution_role

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes

In [2]:
# Get Sagemaker Role
role = get_execution_role()
print(role)

Couldn't call 'get_role' to get Role ARN from role name AmazonSageMaker-ExecutionRole-20210503T205912 to get Role path.
Assuming role was created in SageMaker AWS console, as the name contains `AmazonSageMaker-ExecutionRole`. Defaulting to Role ARN with service-role in path. If this Role ARN is incorrect, please add IAM read permissions to your role or supply the Role Arn directly.

arn:aws:iam::506926764659:role/service-role/AmazonSageMaker-ExecutionRole-20210503T205912

# 1.) Download Data

## S3 parameters

In [3]:
# # Flight data from 2007 and 2011 via Sagemaker Data Wrangler
# bucket = 'sagemaker-us-west-2-506926764659/export-flow-05-16-30-08-0c003aed/output/data-wrangler-flow-processing-05-16-30-08-0c003aed/b98f4f8c-ddaf-4ee1-99da-b0dd09f47a21/default'
# filename = 'part-00000-92fade68-00c4-41b3-9182-593084da2eae-c000.csv'
# path_to_file = 's3://{}/{}'.format(bucket, filename)

# Flight data from 2011_01 
bucket = 'from-public-data/carrier-perf/transformed/airOT2011'
filename = 'airOT201101.csv'
path_to_file = 's3://{}/{}'.format(bucket, filename)

# path_to_file

## Download data from S3

In [4]:
df = wr.s3.read_csv([path_to_file])
df

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,AIR_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 44
0,2011,1,1,6,2011-01-01,AA,N329AA,1,12478,JFK,...,334.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,1,2,7,2011-01-02,AA,N339AA,1,12478,JFK,...,362.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,1,3,1,2011-01-03,AA,N332AA,1,12478,JFK,...,359.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,1,4,2,2011-01-04,AA,N335AA,1,12478,JFK,...,341.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,1,5,3,2011-01-05,AA,N335AA,1,12478,JFK,...,340.0,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494395,2011,1,31,1,2011-01-31,YV,N989HA,2850,16218,YUM,...,52.0,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN
494396,2011,1,31,1,2011-01-31,YV,N434YV,2853,16218,YUM,...,48.0,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN
494397,2011,1,31,1,2011-01-31,YV,N989HA,2868,16218,YUM,...,45.0,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN
494398,2011,1,31,1,2011-01-31,YV,N77260,2870,16218,YUM,...,33.0,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN
494399,2011,1,31,1,2011-01-31,YV,N987HA,2871,16218,YUM,...,43.0,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN

# 2.) Features Engineering

In [6]:
# # Let's stick with (tried and trusted) SQL 
# # REF. https://www.kaggle.com/dataraj/sql-on-pandas-dataframe-using-pandasql
# !pip install pandasql

# import pandasql as ps

# query01 = "select * from df limit 12"

# # print(ps.sqldf(query01, locals()))

# sdf =  ps.sqldf(query01)
# sdf.head()

### Add new feature as target variable `is_late`

In [5]:
late_flight = []

for i in df['DEP_DELAY']:
    if i > 0 : late_flight.append('late')
    else: late_flight.append('not_late')
        
df['late_flight'] = late_flight
df

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 44,late_flight
0,2011,1,1,6,2011-01-01,AA,N329AA,1,12478,JFK,...,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN,not_late
1,2011,1,2,7,2011-01-02,AA,N339AA,1,12478,JFK,...,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN,not_late
2,2011,1,3,1,2011-01-03,AA,N332AA,1,12478,JFK,...,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN,not_late
3,2011,1,4,2,2011-01-04,AA,N335AA,1,12478,JFK,...,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN,not_late
4,2011,1,5,3,2011-01-05,AA,N335AA,1,12478,JFK,...,1.0,2475.0,10,NaN,NaN,NaN,NaN,NaN,NaN,not_late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494395,2011,1,31,1,2011-01-31,YV,N989HA,2850,16218,YUM,...,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN,not_late
494396,2011,1,31,1,2011-01-31,YV,N434YV,2853,16218,YUM,...,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN,not_late
494397,2011,1,31,1,2011-01-31,YV,N989HA,2868,16218,YUM,...,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN,not_late
494398,2011,1,31,1,2011-01-31,YV,N77260,2870,16218,YUM,...,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN,not_late
494399,2011,1,31,1,2011-01-31,YV,N987HA,2871,16218,YUM,...,1.0,160.0,1,NaN,NaN,NaN,NaN,NaN,NaN,not_late

### Select needed features

In [7]:
# REF. https://stackoverflow.com/questions/34682828/extracting-specific-selected-columns-to-new-dataframe-as-a-copy

df_toTrain = df[[
    'YEAR',
    'MONTH',
    'DAY_OF_MONTH',
    'DAY_OF_WEEK',
    'UNIQUE_CARRIER',
    'ORIGIN_AIRPORT_ID',
    'ORIGIN',
    'DEST_AIRPORT_ID',
    'DEST',
    'DEP_TIME',
    'DEP_DELAY',
    'ACTUAL_ELAPSED_TIME',
    'ARR_TIME',
    'ARR_DELAY',
    'AIR_TIME',
    'DISTANCE',
    'CARRIER_DELAY',
    'WEATHER_DELAY',
    'NAS_DELAY',
    'SECURITY_DELAY',
    'LATE_AIRCRAFT_DELAY',
    'late_flight'
]].copy()

df_toTrain

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DEP_TIME,...,ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,late_flight
0,2011,1,1,6,AA,12478,JFK,12892,LAX,906.0,...,1209.0,-26.0,334.0,2475.0,NaN,NaN,NaN,NaN,NaN,not_late
1,2011,1,2,7,AA,12478,JFK,12892,LAX,908.0,...,1236.0,1.0,362.0,2475.0,NaN,NaN,NaN,NaN,NaN,not_late
2,2011,1,3,1,AA,12478,JFK,12892,LAX,907.0,...,1239.0,4.0,359.0,2475.0,NaN,NaN,NaN,NaN,NaN,not_late
3,2011,1,4,2,AA,12478,JFK,12892,LAX,900.0,...,1217.0,-18.0,341.0,2475.0,NaN,NaN,NaN,NaN,NaN,not_late
4,2011,1,5,3,AA,12478,JFK,12892,LAX,904.0,...,1214.0,-21.0,340.0,2475.0,NaN,NaN,NaN,NaN,NaN,not_late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494395,2011,1,31,1,YV,16218,YUM,14107,PHX,1910.0,...,2027.0,-4.0,52.0,160.0,NaN,NaN,NaN,NaN,NaN,not_late
494396,2011,1,31,1,YV,16218,YUM,14107,PHX,749.0,...,904.0,0.0,48.0,160.0,NaN,NaN,NaN,NaN,NaN,not_late
494397,2011,1,31,1,YV,16218,YUM,14107,PHX,1556.0,...,1704.0,-10.0,45.0,160.0,NaN,NaN,NaN,NaN,NaN,not_late
494398,2011,1,31,1,YV,16218,YUM,14107,PHX,1241.0,...,1333.0,-9.0,33.0,160.0,NaN,NaN,NaN,NaN,NaN,not_late
494399,2011,1,31,1,YV,16218,YUM,14107,PHX,1115.0,...,1228.0,-3.0,43.0,160.0,NaN,NaN,NaN,NaN,NaN,not_late

# 3.) Data Analysis

In [8]:
# Correlations

# 4.) Train Model

## Download PyCaret libraries

In [9]:
# Download PyCaret
!pip install pycaret

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Collecting pycaret
  Using cached pycaret-2.3.1-py3-none-any.whl (261 kB)
Collecting yellowbrick>=1.0.1
  Using cached yellowbrick-1.3.post1-py3-none-any.whl (271 kB)
Processing /root/.cache/pip/wheels/01/e7/bb/347dc0e510803d7116a13d592b10cc68262da56a8eec4dd72f/umap_learn-0.5.1-py3-none-any.whl
Collecting lightgbm>=2.3.1
  Using cached lightgbm-3.2.1-py3-none-manylinux1_x86_64.whl (2.0 MB)
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from pycaret) (1.2.4)
Requirement already satisfied: nltk in /opt/conda/lib/python3.7/site-packages (from pycaret) (3.4.5)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.10.0)
Collecting scikit-plot
  Using cached scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Collecting Boruta
  Using cached Boruta-0.3-py3-none-any.whl (56 kB)
Collecting plotly>=4.4.1
  Using cached plotly-4.14.3-py2.py3-none-any.whl (13.2 MB)
Collecting gensim<4.0.0
  Using cached gensim-3.8.3-cp37-cp37m-manylinux1_x86_64.whl (24.2 MB)
Requirement already satisfied: joblib in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.14.1)
Processing /root/.cache/pip/wheels/c9/21/f6/17bcf2667e8a68532ba2fbf6d5c72fdf4c7f7d9abfa4852d2f/pyLDAvis-3.3.1-py2.py3-none-any.whl
Collecting textblob
  Using cached textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Collecting kmodes>=0.10.1
  Using cached kmodes-0.11.0-py2.py3-none-any.whl (18 kB)
Collecting numpy==1.19.5
  Using cached numpy-1.19.5-cp37-cp37m-manylinux2010_x86_64.whl (14.8 MB)
Collecting scikit-learn==0.23.2
  Using cached scikit_learn-0.23.2-cp37-cp37m-manylinux1_x86_64.whl (6.8 MB)
Collecting mlxtend>=0.17.0
  Using cached mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
Processing /root/.cache/pip/wheels/77/59/4c/18e7ef198e2c737674b0bd8b6fa0fb1163c83ecc4e622fbda4/pyod-0.8.8-py3-none-any.whl
Collecting mlflow
  Using cached mlflow-1.16.0-py3-none-any.whl (14.2 MB)
Requirement already satisfied: scipy<=1.5.4 in /opt/conda/lib/python3.7/site-packages (from pycaret) (1.4.1)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.7/site-packages (from pycaret) (3.1.3)
Requirement already satisfied: IPython in /opt/conda/lib/python3.7/site-packages (from pycaret) (7.12.0)
Processing /root/.cache/pip/wheels/e1/27/13/3fe67fa7ea7be444b831d117220b3b586b872c9acd4df480d0/cufflinks-0.17.3-py3-none-any.whl
Collecting imbalanced-learn==0.7.0
  Using cached imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
Collecting wordcloud
  Using cached wordcloud-1.8.1-cp37-cp37m-manylinux1_x86_64.whl (366 kB)
Collecting pandas-profiling>=2.8.0
  Downloading pandas_profiling-2.12.0-py2.py3-none-any.whl (244 kB)
     |████████████████████████████████| 244 kB 9.6 MB/s eta 0:00:01
Collecting spacy<2.4.0
  Using cached spacy-2.3.5-cp37-cp37m-manylinux2014_x86_64.whl (10.4 MB)
Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.7/site-packages (from pycaret) (7.5.1)
Requirement already satisfied: cycler>=0.10.0 in /opt/conda/lib/python3.7/site-packages (from yellowbrick>=1.0.1->pycaret) (0.10.0)
Processing /root/.cache/pip/wheels/62/0b/55/40d651c5a4106ea9ce68d014335a1c7bf059530722c0107b15/pynndescent-0.5.2-py3-none-any.whl
Requirement already satisfied: numba>=0.49 in /opt/conda/lib/python3.7/site-packages (from umap-learn->pycaret) (0.53.1)
Requirement already satisfied: wheel in /opt/conda/lib/python3.7/site-packages (from lightgbm>=2.3.1->pycaret) (0.34.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas->pycaret) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas->pycaret) (2.8.1)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from nltk->pycaret) (1.14.0)
Processing /root/.cache/pip/wheels/f9/8d/8d/f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf/retrying-1.3.3-py3-none-any.whl
Collecting smart-open>=1.8.1
  Using cached smart_open-5.0.0-py3-none-any.whl (56 kB)
Requirement already satisfied: numexpr in /opt/conda/lib/python3.7/site-packages (from pyLDAvis->pycaret) (2.7.1)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.7/site-packages (from pyLDAvis->pycaret) (2.11.3)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from pyLDAvis->pycaret) (56.0.0)
Collecting funcy
  Using cached funcy-1.15-py2.py3-none-any.whl (32 kB)
Requirement already satisfied: sklearn in /opt/conda/lib/python3.7/site-packages (from pyLDAvis->pycaret) (0.0)
Requirement already satisfied: future in /opt/conda/lib/python3.7/site-packages (from pyLDAvis->pycaret) (0.18.2)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.7/site-packages (from pyod->pycaret) (0.11.0)
Requirement already satisfied: requests>=2.17.3 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (2.25.1)
Requirement already satisfied: Flask in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (1.1.1)
Collecting gitpython>=2.1.0
  Using cached GitPython-3.1.14-py3-none-any.whl (159 kB)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (5.4.1)
Requirement already satisfied: click>=7.0 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (7.0)
Processing /root/.cache/pip/wheels/3b/60/14/6930445b08959fbdf4e3029bac7e1f2cccb2e94df8afa00b29/databricks_cli-0.14.3-py3-none-any.whl
Collecting querystring-parser
  Using cached querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Collecting gunicorn; platform_system != "Windows"
  Using cached gunicorn-20.1.0-py3-none-any.whl (79 kB)
Collecting sqlparse>=0.3.1
  Using cached sqlparse-0.4.1-py3-none-any.whl (42 kB)
Requirement already satisfied: docker>=4.0.0 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (5.0.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (1.3.13)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (0.3)
Processing /root/.cache/pip/wheels/be/5d/0a/9e13f53f4f5dfb67cd8d245bb7cdffe12f135846f491a283e3/alembic-1.4.1-py2.py3-none-any.whl
Requirement already satisfied: protobuf>=3.6.0 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (3.15.8)
Processing /root/.cache/pip/wheels/6a/1e/1c/c765920cb92b2f0343d2dd8b481a407cee2823f9b4bbd2e52a/prometheus_flask_exporter-0.18.2-py3-none-any.whl
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (1.3.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pycaret) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pycaret) (2.4.6)
Requirement already satisfied: backcall in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (0.1.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (4.3.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (4.4.1)
Requirement already satisfied: pygments in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (2.5.2)
Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (0.14.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (3.0.3)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (4.8.0)
Collecting colorlover>=0.2.1
  Using cached colorlover-0.3.0-py3-none-any.whl (8.9 kB)
Requirement already satisfied: pillow in /opt/conda/lib/python3.7/site-packages (from wordcloud->pycaret) (8.2.0)
Requirement already satisfied: attrs>=19.3.0 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (19.3.0)
Processing /root/.cache/pip/wheels/40/98/a3/b654f24edcdcdb87d1f70d65a506fcfdf15289db129c594bcd/phik-0.11.2-py3-none-any.whl
Collecting missingno>=0.4.2
  Using cached missingno-0.4.2-py3-none-any.whl (9.7 kB)
Collecting tangled-up-in-unicode>=0.0.6
  Using cached tangled_up_in_unicode-0.0.7-py3-none-any.whl (3.1 MB)
Collecting tqdm>=4.48.2
  Using cached tqdm-4.60.0-py2.py3-none-any.whl (75 kB)
Collecting confuse>=1.0.0
  Using cached confuse-1.4.0-py2.py3-none-any.whl (21 kB)
Processing /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655/htmlmin-0.1.12-py3-none-any.whl
Collecting visions[type_image_path]==0.6.0
  Using cached visions-0.6.0-py3-none-any.whl (75 kB)
Collecting cymem<2.1.0,>=2.0.2
  Using cached cymem-2.0.5-cp37-cp37m-manylinux2014_x86_64.whl (35 kB)
Collecting catalogue<1.1.0,>=0.0.7
  Using cached catalogue-1.0.0-py2.py3-none-any.whl (7.7 kB)
Collecting preshed<3.1.0,>=3.0.2
  Using cached preshed-3.0.5-cp37-cp37m-manylinux2014_x86_64.whl (126 kB)
Collecting blis<0.8.0,>=0.4.0
  Using cached blis-0.7.4-cp37-cp37m-manylinux2014_x86_64.whl (9.8 MB)
Collecting srsly<1.1.0,>=1.0.2
  Using cached srsly-1.0.5-cp37-cp37m-manylinux2014_x86_64.whl (184 kB)
Collecting thinc<7.5.0,>=7.4.1
  Using cached thinc-7.4.5-cp37-cp37m-manylinux2014_x86_64.whl (1.0 MB)
Collecting murmurhash<1.1.0,>=0.28.0
  Using cached murmurhash-1.0.5-cp37-cp37m-manylinux2014_x86_64.whl (20 kB)
Collecting plac<1.2.0,>=0.9.6
  Using cached plac-1.1.3-py2.py3-none-any.whl (20 kB)
Collecting wasabi<1.1.0,>=0.4.0
  Using cached wasabi-0.8.2-py3-none-any.whl (23 kB)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/conda/lib/python3.7/site-packages (from ipywidgets->pycaret) (5.1.4)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /opt/conda/lib/python3.7/site-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /opt/conda/lib/python3.7/site-packages (from ipywidgets->pycaret) (5.0.4)
Requirement already satisfied: llvmlite>=0.30 in /opt/conda/lib/python3.7/site-packages (from pynndescent>=0.5->umap-learn->pycaret) (0.36.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/lib/python3.7/site-packages (from jinja2->pyLDAvis->pycaret) (1.1.1)
Requirement already satisfied: patsy>=0.5 in /opt/conda/lib/python3.7/site-packages (from statsmodels->pyod->pycaret) (0.5.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.17.3->mlflow->pycaret) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.17.3->mlflow->pycaret) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.17.3->mlflow->pycaret) (2.8)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.17.3->mlflow->pycaret) (3.0.4)
Requirement already satisfied: itsdangerous>=0.24 in /opt/conda/lib/python3.7/site-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in /opt/conda/lib/python3.7/site-packages (from Flask->mlflow->pycaret) (1.0.0)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.7-py3-none-any.whl (63 kB)
Requirement already satisfied: tabulate>=0.7.7 in /opt/conda/lib/python3.7/site-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Requirement already satisfied: websocket-client>=0.32.0 in /opt/conda/lib/python3.7/site-packages (from docker>=4.0.0->mlflow->pycaret) (0.58.0)
Collecting python-editor>=0.3
  Using cached python_editor-1.0.4-py3-none-any.whl (4.9 kB)
Collecting Mako
  Using cached Mako-1.1.4-py2.py3-none-any.whl (75 kB)
Requirement already satisfied: prometheus-client in /opt/conda/lib/python3.7/site-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.7.1)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.7/site-packages (from traitlets>=4.2->IPython->pycaret) (0.2.0)
Requirement already satisfied: parso>=0.5.0 in /opt/conda/lib/python3.7/site-packages (from jedi>=0.10->IPython->pycaret) (0.5.2)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->pycaret) (0.1.8)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->IPython->pycaret) (0.6.0)
Requirement already satisfied: networkx>=2.4 in /opt/conda/lib/python3.7/site-packages (from visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (2.4)
Collecting imagehash; extra == "type_image_path"
  Using cached ImageHash-4.2.0-py2.py3-none-any.whl (295 kB)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /opt/conda/lib/python3.7/site-packages (from catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (1.5.0)
Requirement already satisfied: jupyter-client in /opt/conda/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.3.4)
Requirement already satisfied: tornado>=4.2 in /opt/conda/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.0.3)
Requirement already satisfied: notebook>=4.4.1 in /opt/conda/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (6.0.3)
Requirement already satisfied: jupyter-core in /opt/conda/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (3.2.0)
Collecting smmap<5,>=3.0.1
  Using cached smmap-4.0.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: PyWavelets in /opt/conda/lib/python3.7/site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (2.2.0)
Requirement already satisfied: pyzmq>=13 in /opt/conda/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets->pycaret) (18.1.1)
Requirement already satisfied: terminado>=0.8.1 in /opt/conda/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.3)
Requirement already satisfied: nbconvert in /opt/conda/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: Send2Trash in /opt/conda/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/conda/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (0.15.7)
Requirement already satisfied: testpath in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.4.2)
Requirement already satisfied: defusedxml in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.6.0)
Requirement already satisfied: bleach in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (3.3.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: packaging in /opt/conda/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (20.1)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
ERROR: pyldavis 3.3.1 has requirement numpy>=1.20.0, but you'll have numpy 1.19.5 which is incompatible.
ERROR: phik 0.11.2 has requirement scipy>=1.5.2, but you'll have scipy 1.4.1 which is incompatible.
ERROR: pandas-profiling 2.12.0 has requirement matplotlib>=3.2.0, but you'll have matplotlib 3.1.3 which is incompatible.
ERROR: pandas-profiling 2.12.0 has requirement seaborn>=0.10.1, but you'll have seaborn 0.10.0 which is incompatible.
Installing collected packages: numpy, threadpoolctl, scikit-learn, yellowbrick, pynndescent, umap-learn, lightgbm, scikit-plot, Boruta, retrying, plotly, smart-open, gensim, funcy, pyLDAvis, textblob, kmodes, mlxtend, pyod, smmap, gitdb, gitpython, databricks-cli, querystring-parser, gunicorn, sqlparse, python-editor, Mako, alembic, prometheus-flask-exporter, mlflow, colorlover, cufflinks, imbalanced-learn, wordcloud, phik, missingno, tangled-up-in-unicode, tqdm, confuse, htmlmin, imagehash, visions, pandas-profiling, cymem, catalogue, murmurhash, preshed, blis, srsly, wasabi, plac, thinc, spacy, pycaret
  Attempting uninstall: numpy
    Found existing installation: numpy 1.20.2
    Uninstalling numpy-1.20.2:
      Successfully uninstalled numpy-1.20.2
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.22.1
    Uninstalling scikit-learn-0.22.1:
      Successfully uninstalled scikit-learn-0.22.1
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.42.1
    Uninstalling tqdm-4.42.1:
      Successfully uninstalled tqdm-4.42.1
Successfully installed Boruta-0.3 Mako-1.1.4 alembic-1.4.1 blis-0.7.4 catalogue-1.0.0 colorlover-0.3.0 confuse-1.4.0 cufflinks-0.17.3 cymem-2.0.5 databricks-cli-0.14.3 funcy-1.15 gensim-3.8.3 gitdb-4.0.7 gitpython-3.1.14 gunicorn-20.1.0 htmlmin-0.1.12 imagehash-4.2.0 imbalanced-learn-0.7.0 kmodes-0.11.0 lightgbm-3.2.1 missingno-0.4.2 mlflow-1.16.0 mlxtend-0.18.0 murmurhash-1.0.5 numpy-1.19.5 pandas-profiling-2.12.0 phik-0.11.2 plac-1.1.3 plotly-4.14.3 preshed-3.0.5 prometheus-flask-exporter-0.18.2 pyLDAvis-3.3.1 pycaret-2.3.1 pynndescent-0.5.2 pyod-0.8.8 python-editor-1.0.4 querystring-parser-1.2.4 retrying-1.3.3 scikit-learn-0.23.2 scikit-plot-0.3.7 smart-open-5.0.0 smmap-4.0.0 spacy-2.3.5 sqlparse-0.4.1 srsly-1.0.5 tangled-up-in-unicode-0.0.7 textblob-0.15.3 thinc-7.4.5 threadpoolctl-2.1.0 tqdm-4.60.0 umap-learn-0.5.1 visions-0.6.0 wasabi-0.8.2 wordcloud-1.8.1 yellowbrick-1.3.post1

## Get the Data

In [10]:
data = df_toTrain.sample(frac=0.05, random_state=168)
data_unseen = df.drop(data.index)

data.reset_index(inplace=True, drop=True)
data_unseen.reset_index(inplace=True, drop=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (24720, 22)
Unseen Data For Predictions: (469680, 46)

## Setting Up Environment in PyCaret

In [11]:
from pycaret.classification import *
exp = setup(data = data, 
            target = 'late_flight',
            normalize = True,
            transformation = True,
            ignore_low_variance = True,
            remove_multicollinearity = True,
            multicollinearity_threshold = 0.95,
           )
# exp = setup(data = data, target = 'late_flight', session_id=123,
#             numeric_features = ['YR','MO','DAY_OF_MONTH','DAY_OF_WEEK']

## Comparing all models

In [12]:
best_model = compare_models()

# 5.) Create Model(s)

## a. Decision Tree Classifier

In [13]:
dt = create_model('dt')

# trained model object is stored as `dt`
print(dt)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=2779, splitter='best')

## b. ADA Boost Classifer

In [14]:
ada = create_model('ada')

# trained model object is stored as `ada`
print(ada)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=2779)